// @use 'sass:math';

// @mixin input-width($prefix, $division) {
//   $form-full-width: 540;

//   @for $index from 1 to ($division + 1) {
//     .#{$prefix}-#{$index} {
//       width: 100% * math.div($index * 65 + ($index - 1) * 30, $form-full-width);
//     }
//   }
// }

// @media screen and (min-width: $screen-break-point) {
//     @include input-width('input-w-lg', 6);
// }

// @media screen and (max-width: $screen-break-point) {
//   $mobile-form-full-width: 346;

//   .input-w-sm-s1 {
//     width: math.div(100% * 158, $mobile-form-full-width);
//   }
//   .input-w-sm-s2 {
//     width: math.div(100% * 158, $mobile-form-full-width);
//   }
//   .input-w-sm-s3 {
//     width: math.div(100% * 158, $mobile-form-full-width);
//   }
//   .input-w-sm-full {
//     width: 100%;
//   }
//   .siteMain {
//     margin-top: 16px;
//   }
// }

/*  */

.formTitle {
  display: flex;
  flex: 0 0 100%;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
}

.formBody {
  .col {
    justify-content: space-between;
  }

  .inputGroup {
    margin-top: 24px;

    .inputLabel {
      font-weight: bold;
      font-size: 12px;
      line-height: 16px;
      color: var(--input-label);
      margin-bottom: 8px;
    }
    .selectContainer {
      position: relative;
      &::after {
        position: absolute;
        top: 50%;
        right: 12px;
        transform: translateY(-50%);
        z-index: -2;
        pointer-events: none;
        border-style: solid;
        border-width: 6px 5px 0 5px;
        border-color: var(--select-arrow) transparent transparent transparent;
        content: "";
      }
    }

        input, select {
            width: 100%;
            padding: 12px 16px;
            font-weight: 400;
            font-size: 12px;
            font-family: 'Noto Sans TC', sans-serif;
            line-height: 16px;
            border: 1px solid var(--input-border);
            border-radius: 4px;
            background-color: transparent;
        }
        input {
            color: var(--input-text);
        }
        select {
            color: var(--select-true);
            background-color: transparent;

            &:required:invalid {
                color: var(--select-false);
            }
            cursor: pointer;
            -webkit-appearance: none;
            appearance: none;

            option {
                &[value=""][disabled] {
                    display: none;
                }
                color: var(--select-true);
            }
        }
    }

  .radioGroup {
    position: relative;
    justify-content: unset;
    padding: 11px 20px;
    margin-top: 24px;
    cursor: pointer;

    input[type='radio'] {
      width: 20px;
      height: 20px;
      margin-right: 20px;
      align-self: center;
      -webkit-appearance: none;
      appearance: none;
    }

    input[type='radio']::before {
      content: '';
      display: block;
      width: inherit;
      height: inherit;
      border: 1px solid #222222;
      border-radius: 50%;
      background-color: #FFFFFF;
    }

    input[type='radio']:checked::before {
      border: 6px solid #2A2A2A;
      background-color: #FFFFFF;
    }

    .radioInfo {
      display: flex;
      flex-grow: 1;
      flex-wrap: wrap;
      align-content: center;

      .col {
        margin-bottom: 2px;
      }
      .text {
        font-size: 14px;
        font-weight: normal;
        line-height: 20px;
      }
      .price, .period {
        font-size: 12px;
        line-height: 16px;
      }
    }

    .radioBoxBorder {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }

    input[type='radio'] ~ .radioBoxBorder {
      border-radius: 4px;
      border: 1px solid #F0F0F5;
    }
    input[type='radio']:checked ~ .radioBoxBorder {
      border: 1px solid #2A2A2A;
    }

    #shipping-standard ~ .radioInfo .shippingText {
      font-weight: normal;
    }
    #shipping-dhl ~ .radioInfo .shippingText {
      font-weight: 700;
    }
  }
}

 /* .shipping-text 在哪 */